{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block content %}

    <h2 style="text-align: center">CryptoTracker</h2>

   <div class="main-stat">




   </div>


    <div class="card border-dark mb-3" style="max-width: 18rem; margin: 0 auto">
        <div class="card-header">Données statistiques de {{ data.optionChain.result.0.quote.shortName }}</div>
        <div class="card-body text-dark">
            <h5 class="card-title">{{ data.optionChain.result.0.quote.regularMarketPrice }} $</h5>
            <p class="card-text">Valeurs exprimées uniquement en dollars</p>
            <button class="btn btn-primary seecrypto"> Voir la cryptomonnaie  </button>
        </div>
    </div>


    <div>
    <h4>Autres Cryptomonnaies</h4>

    </div>





{% endblock %}
