<div *ngIf="loader.loading$ | async">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>

<div class="text-center" *ngIf="callAPIError">
  Erreur {{ callAPIError.status}}
  <p class="text-danger"> {{callAPIError.statusText}} </p>
</div>

<div *ngIf="singleStock">

  <div  class="card text-center">
    <div class="card-header">
      Details de l'action {{stockName.name}}
    </div>

    <div class="card-body">
      <h5 class="card-title">{{singleStock.name}}</h5>
      <p>Ouvert:  {{singleStock.results[0].o}}</p>
      <p>Fermé: {{singleStock.results[0].c}}</p>

    </div>

  </div>

</div>

<button class="btn btn-primary" (click)="goBack()"> Go Back </button>
