@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.card-margin{
  width: 18rem;
  margin: 2%;
  padding: 3%;
}



.positive-perf{
  background-color: lightgreen;
  color: black;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}

.negative-perf{
  background-color: red;
  color: black;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}
