

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
}

nav * {
    margin: 0 50px;
}

nav  a{
    color: white !important;
    padding-bottom: 10px;
    text-decoration: none;

}