
<div STYLE="display: flex; flex-direction: row; justify-content: space-around">
<div *ngFor="let stock of stocks"  >
  <h3>{{stock.name}}</h3>
  <p>{{stock.symbol}} </p>
  <p>{{stock.currentPrice}} $</p>
  <a class="btn btn-primary" routerLink="/detail/{{stock.id}}">Détails </a>

</div>
</div>


<!--<div *ngIf="loader.loading$ | async ">-->
<!--<mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>-->
<!--</div>-->


<div class="stock-list">
    <div *ngIf="stock; else spinner">
    <div class="card text-white bg-primary mb-3" style="width: 18rem; margin: 25%;padding: 10% ">
    <h5 class="stock-title">{{stock.results[0].T }}</h5>

      <span class="stock-currentPrice">Ouvert: {{stock.results[0].o}}</span>
      <span class="stock-currentPrice">Fermé: {{stock.results[0].c}}</span>


    </div>
    </div>

    <ng-template #spinner>
      <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
</div>
