<div class="home-container container-fluid text-center">

  <div class="homepage-section">
    <h3 class="home-text">Bienvenue sur Easycrypt</h3>
    <p class="home-text">Votre Tracker de stocks et cryptomnnaies vous permet de consulter vos titres favoris</p>
    <p class="home-text">Essayez, c'est gratuit.</p>
  </div>

  <div  class="homepage-section">
    <h3 class="home-text">Retrouvez les dernières tendances de votre portefeuille.</h3>
    <a class="index-button btn btn-info" routerLink="/stock">Inscrivez-vous et trouvez vos stocks favoris</a>
  </div>



  <div class="homepage-section">
    <h3 class="home-text">Des statistiques detaillées sur les chacunes de vos actions</h3>
  </div>

  <div class="homepage-section">
    <h3 class="home-text">Des graphiques associés à chaasue mouvements pour vous aiderà y voir plus clair</h3>
  </div>


</div>
